.box {width: 100px; 
    height: 100px ;
}


.box-green {
    color: darkslateblue;
    background-color: rgb(85, 246, 85) ;
  }
  
 
 
 
 
  #paragraph-2 {
    color: darkslateblue;
    background-color: darkorange;
  }
  
  #paragraph-3 {
      color: white;
      background-color: darkslateblue;
  }
  